<div class="container">
  <h2 class="title" [style]="{color: backgroundColor}">{{title}}</h2>

<button (click)="onSubmit()">Change shown value</button>

<div class="shown" *ngIf="isShown; else shownFalse">muncul</div>
<!-- <div class="shown" *ngIf="!isShown">muncul ketika false</div> -->
<ng-template #shownFalse>
  <p>False di ng-template</p>
</ng-template>

<p>Default</p>

<p>{{'12000' | currency:'CAD':'symbol'}}</p>
<p>{{'Reyy' | reverse}}</p>
<p>{{'Reyy' | uppercase}}</p>
<p>{{today | date:'MM-d-YYYY'}}</p>

<!-- <ul>
  <li *ngFor="let item of dataUser">
    {{item.address.province}}
    <div [ngSwitch]="item.address.zone">
      <div *ngSwitchCase="1" [ngStyle]="{color: item.address.zone === 1 ? 'red' : 'yellow'}">merah</div>
      <div *ngSwitchCase="2" [ngClass]="{'zone-safe': item.address.zone===2}">biru</div>
      <div *ngSwitchCase="3" [ngClass]="item.address.zone===3 ?'zone-green' : 'zone-yellow'">hijau</div>
      <div *ngSwitchDefault>kuning</div>
    </div>
  </li>
</ul> -->

<div *ngIf="!isLoading">
  <button (click)="createUser()">Create User</button>
  <div *ngFor="let item of dataUser">
    {{item.name}}
  </div>
</div>

<div *ngIf="isLoading">
Loading
</div>

<router-outlet></router-outlet>